
/Lab1/src/cmake-build-debug
/Lab2/src/cmake-build-debug
*.tex
*.toc
*.log
*.aux
*.gz
/Lab3/cmake-build-debug
/Lab4/src/cmake-build-debug
/Lab3/src/cmake-build-debug
*.xml
*.iml
/Lab2/.idea
/Lab2/doc
*.cmake

/Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/src/cmake-build-debug
Linear algebra/Lab5 (Solving nonlinear equations)/src/Graph.nb
Linear algebra/Lab3 (Solving interpolation problems)/src/SolutionDifferenceEvaluator.nb
*.txt
*.nb
/Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/doc
Mathematical physics/\[Галанин М.П., Савенков Е.Б.\] Методы численного анализа математических моделей.pdf
Linear algebra/MetVich1_2017.pdf
Mathematical physics/MetVich2-2017beta.pdf
/Mathematical physics/Lab2 (Numerical solution of boundary value problems for the one-dimensional heat equation)/src/cmake-build-debug
/Mathematical physics/Lab3 (Numerical solution of boundary value problems for the one-dimensional wave equation)/doc
/Mathematical physics/Lab3 (Numerical solution of boundary value problems for the one-dimensional wave equation)/src/cmake-build-debug
/Mathematical physics/Lab2 (Numerical solution of boundary value problems for the one-dimensional heat equation)/doc
Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/src/Явный мето Эйлера. Маятник.mp4
Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/src/Неявный мето Эйлера. Маятник.mp4
Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/src/trimpeuler.gif
Mathematical physics/Lab1 (Numerical methods for solving ordinary differential equations)/src/trexpeuler.gif
